# Ignore IDE project files
.idea/
*.iml
*.xml

# Ignore Maven target folder
target/

# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore package files
*.jar
*.war
*.ear

# Ignore build files
*.build

# Ignore temporary files
*.tmp